.title{
    text-align: center;
    font-size: 55px;
    font-family: Courier,sans-serif;
    color: slateblue;
    font-weight: bolder;
}
.recipes{
    text-align: justify;
    font-size: 45px;
    font-family: monospace,sans-serif;
    color: aquamarine;
    font-weight: bold;
}