.title{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    color: rgb(89, 0, 255);
    font-family: 'Courier New', 'Times New Roman',sans-serif;
}
.recipes{
    font-size: 35px;
    font-weight: 500;
    color: teal;
    font-family: monospace,sans-serif;
}